# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://docs.github.com/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/client"
    schedule:
      interval: "weekly"
    assignees:
      - ngpixel
    reviewers:
      - ngpixel
    groups:
      all:
        patterns:
          - "*"
    versioning-strategy: "increase"
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    assignees:
      - ngpixel
    reviewers:
      - ngpixel
  - package-ecosystem: "docker"
    directory: "/docker"
    schedule:
      interval: "weekly"
    assignees:
      - ngpixel
    reviewers:
      - ngpixel
  - package-ecosystem: "pip"
    directory: "/"
    schedule:
      interval: "weekly"
    assignees:
      - rjsparks
      - jennifer-richards
    reviewers:
      - rjsparks
      - jennifer-richards
