@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply inline-flex justify-center rounded-md bg-violet-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-violet-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-violet-600;
  }
  .btn-secondary {
    @apply rounded-md bg-white dark:bg-neutral-600 px-3 py-2 text-sm font-semibold text-gray-900 dark:text-neutral-200 shadow-sm ring-1 ring-inset ring-gray-300 dark:ring-neutral-500 hover:bg-gray-50 dark:hover:bg-neutral-700;
  }
  .form-input {
    @apply block w-full rounded-md bg-white dark:bg-neutral-900 border-0 py-1.5 text-gray-900 dark:text-white shadow-sm ring-1 ring-inset ring-gray-300 dark:ring-neutral-500 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-violet-600 dark:focus:ring-violet-400 sm:text-sm sm:leading-6;
  }
  .form-select {
    @apply form-input pl-3 pr-10;
  }
}
