name: Publish Wiki
on:
  push:
    branches: [main]
    paths:
      - client/components/**
      - .github/workflows/publish-wiki.yml
  workflow_dispatch:
concurrency:
  group: publish-wiki
  cancel-in-progress: true
permissions:
  contents: write
jobs:
  publish-wiki:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Node
        uses: actions/setup-node@v3.8.1
        with:
          node-version: 20.x
      - name: Generate Markdown
        working-directory: docs
        run: |
          npm ci
          npm run build
      - name: Publish wiki
        uses: Andrew-Chen-Wang/github-wiki-action@v4
        with:
          path: docs/output
          
